// Colors

$purple-dark: #2b3445;
$carrot-red: #e84748;

$review-cold: #ffc107;

$html-color: #dd4b25;
$css-color: #0b6fb4;
$js-color: #f6d137;

$bs-color: #8311f6;

$sass-color: #c76494;
$ts-color: #2f74c0;
$http: #498cc4;

$angular-color: #af2b2d;
$vue-color: #41b883;
$react-color: #61dafb;

$mongoDB-color: #13aa52;
$nodeJS-color: #3f863e;
$npm-color: #c92a29;
